<div class="container-fluid a-container">
  <div class="row a-row d-flex align-items-center justify-content-center">
    <div class="a-prt" id="a-container"></div>
    <div class="col-12 a-wrap">
      <h1 class="a-title">
        <span class="a-title-sub"
          >Analysis<span class="a-green-dot">.</span> for Spotify</span
        >
      </h1>
      <button class="btn a-login-btn" (click)="loginBtnClicked()">
        Login with Spotify
        <img
          class="a-spotify-icon"
          src="./assets/png/Spotify_Icon_RGB_White.png"
          alt="Spotify Icon"
        />
      </button>
    </div>
  </div>
</div>
